<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAS Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="666fae">  <td>18/03/06 19:13:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:12:04</td>   <td>-72349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:12:42</td>   <td>-35046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:13:17</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:13:17</td>   <td>116</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340565491</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:13:17</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:11:29</td>   <td>-107395</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:11:29</td>   <td>-107374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:12:04</td>   <td>-72347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:12:42</td>   <td>-35046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:11:29</td>   <td>-107441</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340565491</td>   <td></td> </tr>
<tr bgcolor="666fae">  <td>18/03/06 19:11:29</td>   <td>-107410</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/03/06 19:11:29</td>   <td>-107374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightSearchTest.testFlightSearch(java.util.Map)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">testFlightSearch</td> 
  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/03/06 19:12:04</td>   <td>-72346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightSearchTest.testFlightSearch(java.util.Map)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">testFlightSearch</td> 
  <td>TestNG@448365112</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/03/06 19:12:42</td>   <td>-35046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightSearchTest.testFlightSearch(java.util.Map)[pri:0, instance:com.orbitz.tests.FlightSearchTest@5cdd8682]">testFlightSearch</td> 
  <td>TestNG@448365112</td>   <td></td> </tr>
</table>
