<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>First two flights are from PNQ to BLR
Expected: &lt;2&gt;
     Actual: was &lt;2&gt; <a href="../img/testFlightSearch_jylfpsx432f826336.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:55am - 7:15am 	Price> $98</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:25am - 12:55pm 	Price> $98</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:55pm - 3:55pm 	Price> $133</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:55pm - 7:25pm 	Price> $133</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:55pm - 10:25pm 	Price> $133</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:55pm - 12:55pm 	Price> $140</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:35pm - 12:05am 	Price> $154</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:55am - 7:20am 	Price> $177</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>3:25am - 10:00am 	Price> $218</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>6:50pm - 8:30am 	Price> $232</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>3:25am - 1:30pm 	Price> $237</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 8:00am 	Price> $243</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 9:50am 	Price> $243</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 11:30am 	Price> $243</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:50am - 5:00pm 	Price> $250</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:15am - 10:45am 	Price> $253</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:15am - 6:45pm 	Price> $255</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:50am - 3:10pm 	Price> $263</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>3:25am - 9:05pm 	Price> $275</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 8:30am 	Price> $282</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:30am - 11:30pm 	Price> $285</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:30am - 12:15am 	Price> $285</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:30am - 10:05pm 	Price> $290</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:30am - 9:20pm 	Price> $311</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:15pm - 7:05am 	Price> $333</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:15pm - 8:15am 	Price> $333</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:15pm - 3:05pm 	Price> $333</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:15pm - 6:05pm 	Price> $333</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>11:15pm - 8:00pm 	Price> $333</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:35pm - 10:25pm 	Price> $336</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:35pm - 8:40pm 	Price> $342</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>3:55pm - 5:15pm 	Price> $365</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 8:05pm 	Price> $380</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>4:00pm - 8:55pm 	Price> $380</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:35pm - 10:10pm 	Price> $390</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>12:40pm - 4:55pm 	Price> $395</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>12:40pm - 6:00pm 	Price> $558</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
PNQ -
Arrival airport:
BLR 	Duration> 1h 20m 	Time>5:50am - 11:05am 	Price> $677</div><div  class="info"><span class="info-label">I </span>Total flights =====> 39</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>First two flights are from BLR to DEL
Expected: &lt;2&gt;
     Actual: was &lt;2&gt; <a href="../img/testFlightSearch_bbn799g1fl3u26337.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>10:00am - 12:45pm 	Price> $97</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:10am - 8:55am 	Price> $101</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>2:10am - 4:55am 	Price> $103</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>1:30pm - 4:10pm 	Price> $119</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:55am - 12:40pm 	Price> $128</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:30am - 2:30pm 	Price> $128</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:45am - 8:30am 	Price> $133</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:10am - 4:25pm 	Price> $140</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:40am - 7:50pm 	Price> $141</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:10am - 12:00pm 	Price> $149</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:05am - 2:00pm 	Price> $149</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 9:40am 	Price> $153</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:40am - 11:55pm 	Price> $165</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>3:15pm - 6:00pm 	Price> $175</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:50am - 10:40am 	Price> $175</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:15am - 12:30pm 	Price> $176</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:40am - 3:10pm 	Price> $183</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:35pm - 8:35pm 	Price> $185</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:45am - 3:20pm 	Price> $190</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:45am - 6:15pm 	Price> $193</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:40am - 1:10pm 	Price> $193</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:40am - 5:15pm 	Price> $193</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:30am - 10:35pm 	Price> $195</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 3:20pm 	Price> $198</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>1:50pm - 9:55pm 	Price> $201</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 6:15pm 	Price> $202</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:25am - 1:15pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:10am - 1:15pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:25am - 4:25pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>4:20pm - 12:20am 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:25am - 7:55pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:10am - 7:55pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:45am - 12:15pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:50am - 1:30pm 	Price> $208</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:45am - 7:10pm 	Price> $208</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:15pm - 9:15am 	Price> $209</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:45pm - 10:35pm 	Price> $215</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>12:30pm - 5:15pm 	Price> $217</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:00am - 3:10pm 	Price> $217</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 7:10pm 	Price> $218</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:40am - 11:15am 	Price> $219</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:05am - 12:05pm 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:05am - 7:50pm 	Price> $223</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:05am - 7:50pm 	Price> $223</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 3:10pm 	Price> $226</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 3:10pm 	Price> $226</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:00am - 1:10pm 	Price> $227</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:00am - 5:15pm 	Price> $227</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:45am - 8:15pm 	Price> $229</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:50am - 4:10pm 	Price> $232</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:30pm - 10:15pm 	Price> $234</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:55am - 1:15pm 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:15pm - 12:20am 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:55am - 4:25pm 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:15pm - 4:55am 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:55am - 7:55pm 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>4:20pm - 4:55am 	Price> $235</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 11:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:30am - 12:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:45am - 8:35am 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>11:15am - 5:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 1:10pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 5:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 5:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:40am - 10:45am 	Price> $239</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:10am - 12:15pm 	Price> $239</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:50am - 8:15pm 	Price> $239</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:30pm - 11:20pm 	Price> $256</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 9:45am 	Price> $285</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:55pm - 11:50pm 	Price> $300</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:10pm - 11:55pm 	Price> $340</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>8:45am - 3:45pm 	Price> $383</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>2:50pm - 11:40pm 	Price> $383</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:30am - 3:50pm 	Price> $395</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>12:40pm - 10:30pm 	Price> $395</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:30am - 10:30pm 	Price> $395</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>1:10am - 8:10am 	Price> $396</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>1:10am - 9:25am 	Price> $396</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:15pm - 10:30pm 	Price> $399</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:00pm - 7:45pm 	Price> $563</div><div  class="info"><span class="info-label">I </span>Total flights =====> 80</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>First two flights are from MAA to JAI
Expected: &lt;2&gt;
     Actual: was &lt;2&gt; <a href="../img/testFlightSearch_ay8om72l3e2e26338.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:20am - 7:10am 	Price> $150</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>5:00pm - 6:10pm 	Price> $154</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:55am - 8:00pm 	Price> $181</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:45am - 8:00pm 	Price> $181</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:10am - 8:00pm 	Price> $181</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:55am - 6:10pm 	Price> $185</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:45am - 6:10pm 	Price> $185</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:10am - 6:10pm 	Price> $185</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:05pm - 6:10pm 	Price> $189</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 7:05am 	Price> $211</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 9:00am 	Price> $211</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 7:05am 	Price> $211</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 9:00am 	Price> $211</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:30am - 7:05am 	Price> $211</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>5:00pm - 8:00pm 	Price> $213</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 9:40am 	Price> $223</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 9:40am 	Price> $223</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 9:40pm 	Price> $223</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:05pm - 8:00pm 	Price> $238</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 9:40pm 	Price> $250</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:30am - 9:40pm 	Price> $250</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 7:50pm 	Price> $254</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:30am - 8:20pm 	Price> $256</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>3:25pm - 8:20pm 	Price> $259</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>3:25pm - 7:40am 	Price> $259</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:20am - 8:20pm 	Price> $269</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:20am - 7:40am 	Price> $269</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>5:05pm - 9:40pm 	Price> $275</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>1:40pm - 9:40pm 	Price> $275</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:30am - 7:40am 	Price> $280</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:10am - 7:05am 	Price> $280</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:10am - 9:00am 	Price> $280</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:25pm - 9:40pm 	Price> $281</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:00pm - 8:20pm 	Price> $282</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 6:40pm 	Price> $287</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:30am - 6:40pm 	Price> $287</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:10pm - 7:05am 	Price> $305</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>1:15pm - 8:20pm 	Price> $311</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:30am - 8:20pm 	Price> $311</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:00pm - 7:40am 	Price> $315</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:25am - 8:20pm 	Price> $319</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:10am - 9:40am 	Price> $329</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 6:10pm 	Price> $356</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:35pm - 7:40am 	Price> $382</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:55pm - 6:25am 	Price> $385</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:30am - 9:40pm 	Price> $386</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 8:20pm 	Price> $392</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:25am - 6:25am 	Price> $393</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:00pm - 7:05am 	Price> $401</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:00pm - 9:00am 	Price> $401</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 8:20pm 	Price> $407</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:20am - 6:25am 	Price> $410</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>1:15pm - 9:40pm 	Price> $414</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:30am - 9:40pm 	Price> $414</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>1:15pm - 9:40pm 	Price> $436</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:30am - 9:40pm 	Price> $436</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>2:35pm - 8:45pm 	Price> $438</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:00pm - 7:40am 	Price> $457</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:45pm - 7:05am 	Price> $466</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:25am - 9:40pm 	Price> $514</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:00pm - 7:05am 	Price> $526</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:20am - 8:45pm 	Price> $574</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>3:00pm - 10:00pm 	Price> $587</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>1:40pm - 7:50pm 	Price> $593</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:30am - 7:50pm 	Price> $593</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:45pm - 7:05am 	Price> $597</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:15am - 10:00pm 	Price> $632</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:00pm - 6:55am 	Price> $662</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:00am - 6:15pm 	Price> $678</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:00pm - 6:25am 	Price> $726</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:00pm - 6:25am 	Price> $765</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>11:15am - 10:00pm 	Price> $785</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:15am - 9:40pm 	Price> $787</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>9:55am - 7:50pm 	Price> $1,171</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:15am - 7:50pm 	Price> $1,427</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>10:25am - 6:10pm 	Price> $1,466</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>8:40am - 6:10pm 	Price> $1,466</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>7:20am - 6:10pm 	Price> $1,466</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Multiple Airlines 
Source and Dest> Departure airport:
MAA - 21h 35m in BOM
Layover 21h 35m in BOM
Arrival airport:
- JAI 	Duration> 24h 50m 	Time>6:50am - 6:10pm 	Price> $1,466</div><div  class="info"><span class="info-label">I </span>Total flights =====> 80</div></div></td></tr>
</table>