<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:54</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:54</td>   <td>174</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:54</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:05</td>   <td>-48861</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:05</td>   <td>-48845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:05</td>   <td>-48908</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>18/02/28 15:28:05</td>   <td>-48876</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@111156771</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/02/28 15:28:05</td>   <td>-48845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightSearchTest.testFlightSearch()[pri:0, instance:com.orbitz.tests.FlightSearchTest@140e5a13]">testFlightSearch</td> 
  <td>main@111156771</td>   <td></td> </tr>
</table>
