<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 50m 	Time>7:45pm - 10:35pm 	Price> $112</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 40m 	Time>1:30pm - 4:10pm 	Price> $114</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>10:00am - 12:45pm 	Price> $114</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:10pm - 11:55pm 	Price> $114</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:00pm - 7:45pm 	Price> $118</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>2:10am - 4:55am 	Price> $120</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>6:10am - 8:55am 	Price> $123</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 3h 0m 	Time>11:30am - 2:30pm 	Price> $128</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 55m in MAA
Layover 55m in MAA
Arrival airport:
- DEL 	Duration> 4h 45m 	Time>4:20pm - 9:05pm 	Price> $146</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 2h in MAA
Layover 2h in MAA
Arrival airport:
- DEL 	Duration> 5h 55m 	Time>4:20pm - 10:15pm 	Price> $146</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 50m in MAA
Layover 8h 50m in MAA
Arrival airport:
- DEL 	Duration> 12h 40m 	Time>8:25am - 9:05pm 	Price> $146</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 9h 55m in MAA
Layover 9h 55m in MAA
Arrival airport:
- DEL 	Duration> 13h 50m 	Time>8:25am - 10:15pm 	Price> $146</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 10h 5m in MAA
Layover 10h 5m in MAA
Arrival airport:
- DEL 	Duration> 13h 55m 	Time>7:10am - 9:05pm 	Price> $146</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>5:45am - 8:30am 	Price> $149</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:00am - 9:45am 	Price> $149</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 50m 	Time>7:50am - 10:40am 	Price> $149</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>7:30pm - 10:15pm 	Price> $153</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 55m 	Time>8:55pm - 11:50pm 	Price> $153</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 2h 55m in HYD
Layover 2h 55m in HYD
Arrival airport:
- DEL 	Duration> 6h 10m 	Time>5:00pm - 11:10pm 	Price> $155</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 40m 	Time>7:00am - 9:40am 	Price> $156</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Vistara 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:55am - 12:40pm 	Price> $156</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 3h 0m 	Time>5:35pm - 8:35pm 	Price> $156</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 20m in MAA
Layover 8h 20m in MAA
Arrival airport:
- DEL 	Duration> 12h 10m 	Time>8:55am - 9:05pm 	Price> $164</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>3:15pm - 6:00pm 	Price> $176</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 50m 	Time>9:10am - 12:00pm 	Price> $176</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 55m 	Time>11:05am - 2:00pm 	Price> $176</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 45m in HYD
Layover 45m in HYD
Arrival airport:
- DEL 	Duration> 4h 15m 	Time>8:15am - 12:30pm 	Price> $180</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 2h in BOM
Layover 2h in BOM
Arrival airport:
- DEL 	Duration> 5h 50m 	Time>5:25pm - 11:15pm 	Price> $185</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 4h 25m in MAA
Layover 4h 25m in MAA
Arrival airport:
- DEL 	Duration> 8h 10m 	Time>11:40am - 7:50pm 	Price> $188</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 8h 30m in MAA
Layover 8h 30m in MAA
Arrival airport:
- DEL 	Duration> 12h 15m 	Time>11:40am - 11:55pm 	Price> $188</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 11h 45m in HYD
Layover 11h 45m in HYD
Arrival airport:
- DEL 	Duration> 14h 55m 	Time>8:15am - 11:10pm 	Price> $188</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 7h in HYD
Layover 7h in HYD
Arrival airport:
- DEL 	Duration> 10h 15m 	Time>8:15am - 6:30pm 	Price> $191</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 7h in CCU
Layover 7h in CCU
Arrival airport:
- DEL 	Duration> 11h 40m 	Time>11:05am - 10:45pm 	Price> $202</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 6h 15m in PNQ
Layover 6h 15m in PNQ
Arrival airport:
- DEL 	Duration> 9h 45m 	Time>9:45pm - 7:30am 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 9h 50m in HYD
Layover 9h 50m in HYD
Arrival airport:
- DEL 	Duration> 13h 5m 	Time>8:15am - 9:20pm 	Price> $205</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 40m in HYD
Layover 40m in HYD
Arrival airport:
- DEL 	Duration> 3h 55m 	Time>4:00pm - 7:55pm 	Price> $206</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 40m in CCU
Layover 40m in CCU
Arrival airport:
- DEL 	Duration> 5h 35m 	Time>2:30pm - 8:05pm 	Price> $206</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 2h 25m in GAU
Layover 2h 25m in GAU
Arrival airport:
- DEL 	Duration> 8h 5m 	Time>1:50pm - 9:55pm 	Price> $212</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 30m in PNQ
Layover 8h 30m in PNQ
Arrival airport:
- DEL 	Duration> 12h 5m 	Time>9:45pm - 9:50am 	Price> $214</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 11h in BOM
Layover 11h in BOM
Arrival airport:
- DEL 	Duration> 14h 55m 	Time>7:20pm - 10:15am 	Price> $215</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 45m in MAA
Layover 8h 45m in MAA
Arrival airport:
- DEL 	Duration> 12h 35m 	Time>4:20pm - 4:55am 	Price> $217</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 50m in MAA
Layover 8h 50m in MAA
Arrival airport:
- DEL 	Duration> 12h 45m 	Time>7:10am - 7:55pm 	Price> $217</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 2h 25m in BOM
Layover 2h 25m in BOM
Arrival airport:
- DEL 	Duration> 6h 15m 	Time>10:50pm - 5:05am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 3h 5m in BOM
Layover 3h 5m in BOM
Arrival airport:
- DEL 	Duration> 7h 10m 	Time>9:55pm - 5:05am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 5h 35m in BOM
Layover 5h 35m in BOM
Arrival airport:
- DEL 	Duration> 9h 20m 	Time>10:50pm - 8:10am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 6h 15m in BOM
Layover 6h 15m in BOM
Arrival airport:
- DEL 	Duration> 10h 15m 	Time>9:55pm - 8:10am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 6h 30m in BOM
Layover 6h 30m in BOM
Arrival airport:
- DEL 	Duration> 10h 15m 	Time>10:50pm - 9:05am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 7h in BOM
Layover 7h in BOM
Arrival airport:
- DEL 	Duration> 10h 40m 	Time>10:50pm - 9:30am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 7h 10m in BOM
Layover 7h 10m in BOM
Arrival airport:
- DEL 	Duration> 11h 10m 	Time>9:55pm - 9:05am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 7h 30m in BOM
Layover 7h 30m in BOM
Arrival airport:
- DEL 	Duration> 11h 25m 	Time>10:50pm - 10:15am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 7h 40m in BOM
Layover 7h 40m in BOM
Arrival airport:
- DEL 	Duration> 11h 35m 	Time>9:55pm - 9:30am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 7h 55m in BOM
Layover 7h 55m in BOM
Arrival airport:
- DEL 	Duration> 11h 45m 	Time>10:50pm - 10:35am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 10m in BOM
Layover 8h 10m in BOM
Arrival airport:
- DEL 	Duration> 12h 20m 	Time>9:55pm - 10:15am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 30m in BOM
Layover 8h 30m in BOM
Arrival airport:
- DEL 	Duration> 12h 20m 	Time>10:50pm - 11:10am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 35m in BOM
Layover 8h 35m in BOM
Arrival airport:
- DEL 	Duration> 12h 40m 	Time>9:55pm - 10:35am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 9h 10m in BOM
Layover 9h 10m in BOM
Arrival airport:
- DEL 	Duration> 13h 15m 	Time>9:55pm - 11:10am 	Price> $220</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 50m in HYD
Layover 8h 50m in HYD
Arrival airport:
- DEL 	Duration> 12h 35m 	Time>7:20am - 7:55pm 	Price> $221</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 1h 40m in CCU
Layover 1h 40m in CCU
Arrival airport:
- DEL 	Duration> 6h 0m 	Time>6:05am - 12:05pm 	Price> $226</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 4h in CCU
Layover 4h in CCU
Arrival airport:
- DEL 	Duration> 8h 45m 	Time>11:05am - 7:50pm 	Price> $226</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 9h 10m in CCU
Layover 9h 10m in CCU
Arrival airport:
- DEL 	Duration> 13h 45m 	Time>6:05am - 7:50pm 	Price> $226</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 8h 20m in BOM
Layover 8h 20m in BOM
Arrival airport:
- DEL 	Duration> 12h 15m 	Time>4:50pm - 5:05am 	Price> $229</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Air India 
Source and Dest> Departure airport:
BLR - 10h in BOM
Layover 10h in BOM
Arrival airport:
- DEL 	Duration> 13h 45m 	Time>7:20pm - 9:05am 	Price> $233</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 30m in MAA
Layover 30m in MAA
Arrival airport:
- DEL 	Duration> 4h 20m 	Time>8:55am - 1:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 1h in MAA
Layover 1h in MAA
Arrival airport:
- DEL 	Duration> 4h 50m 	Time>8:25am - 1:15pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 2h 30m in MAA
Layover 2h 30m in MAA
Arrival airport:
- DEL 	Duration> 6h 25m 	Time>10:30pm - 4:55am 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 3h 40m in MAA
Layover 3h 40m in MAA
Arrival airport:
- DEL 	Duration> 7h 30m 	Time>8:55am - 4:25pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 4h 10m in MAA
Layover 4h 10m in MAA
Arrival airport:
- DEL 	Duration> 8h 0m 	Time>8:25am - 4:25pm 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Jet Airways 
Source and Dest> Departure airport:
BLR - 4h 25m in MAA
Layover 4h 25m in MAA
Arrival airport:
- DEL 	Duration> 8h 20m 	Time>8:35pm - 4:55am 	Price> $236</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 35m 	Time>12:30am - 3:05am 	Price> $238</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 45m 	Time>9:30am - 12:15pm 	Price> $238</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 50m 	Time>5:45am - 8:35am 	Price> $238</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR -
Arrival airport:
DEL 	Duration> 2h 50m 	Time>8:30pm - 11:20pm 	Price> $238</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 5h 25m in HYD
Layover 5h 25m in HYD
Arrival airport:
- DEL 	Duration> 8h 50m 	Time>2:50pm - 11:40pm 	Price> $370</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 6h 45m in HYD
Layover 6h 45m in HYD
Arrival airport:
- DEL 	Duration> 9h 55m 	Time>10:00pm - 7:55am 	Price> $378</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 9h 35m in HYD
Layover 9h 35m in HYD
Arrival airport:
- DEL 	Duration> 12h 55m 	Time>10:00pm - 10:55am 	Price> $378</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 7h 25m in HYD
Layover 7h 25m in HYD
Arrival airport:
- DEL 	Duration> 10h 50m 	Time>9:05pm - 7:55am 	Price> $382</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 8h 35m in PNQ
Layover 8h 35m in PNQ
Arrival airport:
- DEL 	Duration> 12h 10m 	Time>9:15pm - 9:25am 	Price> $385</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 3h 50m in HYD
Layover 3h 50m in HYD
Arrival airport:
- DEL 	Duration> 7h 0m 	Time>8:45am - 3:45pm 	Price> $394</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 1h 15m in MAA
Layover 1h 15m in MAA
Arrival airport:
- DEL 	Duration> 5h 15m 	Time>5:15pm - 10:30pm 	Price> $396</div><div  class="info"><span class="info-label">I </span>Flight detail ::: Arline> Hahn Air Systems 
Source and Dest> Departure airport:
BLR - 4h 35m in MAA
Layover 4h 35m in MAA
Arrival airport:
- DEL 	Duration> 8h 20m 	Time>7:30am - 3:50pm 	Price> $396</div><div  class="pass"><span class="pass-label">P </span>First flights are from BLR to DEL
Expected: &lt;2&gt;
     Actual: was &lt;2&gt; <a href="../img/testFlightSearch_1s1p60hyu3n9655304.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>